# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store
*.DS_Store

# Deliberately withheld
not_for_git
_not_for_git

/functions
.env
.env.development
# Local Netlify folder
.netlify
