body {
    color: darken($color__project-theme, 30%)
}

h2 {
    color: $color__project-theme;
    display: inline-block;
    padding-bottom: 0.3em;
    border-bottom: 3px solid $color__project-complementary;
}

hr {
    background-color: $color__project-complementary;
    opacity: 0.7;
}

// .copyright {

// }