// top nav, contained in Header.jsx
#navbar {
    background-color: $color__project-theme;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $color__project-inverse !important;

    a {
        color: $color__project-inverse;
        text-decoration: none;
    
        &.brand {
            h3 {
                color: $color__project-inverse;
                font-size: 1.5em;
                line-height: 100%;
                margin-top: 2px;
                margin-bottom: 2px;
                display: inline-block;
            }
        }
    }

    #menu-responsive {
        // display off in all cases to start with
        display: none;
        // will have .menu-show class applied if menu is open
        &.menu-show {
            // restrict to tablet-down in case we resize with the menu open
            @include for-tablet-down {
                position: relative;
                display: block;
                a {
                    float: none;
                    display: block;
                    text-align: left;
                }
            }
        }
    }

    // hamburger is referenced as class icon
    .icon {
        width: 40px;
        padding: 1px 8px;
        background-color: $color__project-theme;
        border: 1px solid $color__project-inverse;
        border-radius: 4px 4px 4px 4px;
        float: right;
        display: block;
        // recognise when mouse hovers over the button
        &:hover {
            background-color: lighten($color__project-theme, 10%);
        }
        // don't show at all on a wide screen
        @include for-desktop-only {
            display: none;
        }
        // the horizontal bars that make it a burger
        .icon-bar {
            background-color: $color__project-inverse;
            border-radius: 2px 2px 2px 2px;
            height: 2px;
            margin: 6px 0;
            width: 100%;
        }
    }
}

// right-nav (only shows on wide screens) contained in RightMenu.jsx
#right-nav {
    

    // style the 'year links'
    h3.year-header {
        margin-bottom: 0.2em;
        font-size: 1.3rem;
    }
    a {
        display: block;

        &.bold-link {
            transition: none;
            font-weight: bold;
            &:hover {
                padding-left: 0px;
            }
        }
    }
    // wrap the top items in a block so they can then have inline-block so border is short
    .a-wrapper {
        display: block;

        a {
            transition: 0.25s;
            text-decoration: none;
            display: block;
            &:hover {
                padding-left: 6px;
            }
            &.highlighted {
                border-bottom: 1px solid $color__project-complementary;
                margin-bottom: -1px;
                display: inline-block;
            }
            &.not-highlighted {
                margin-bottom: 0px;
                display: inline-block;
            }
        }
    }

    // make year hide/show using concepts from
    // https://gomakethings.com/how-to-add-transition-animations-to-vanilla-javascript-show-and-hide-methods/
    .year {
        display: none;
        height: 0;
        transition: height 350ms ease-in-out;
        &.open {
            display: block;
            height: auto;
        }
    }
}