@import '_colours.scss';

.race {
    padding-bottom: 1.0em;
}

// .series-title {

// }

.race-title {
    color: $color__project-theme;
    padding-bottom: 0.3em;
    display: inline-block;
    border-bottom: 2px solid $color__project-complementary;
}

.event-title {
    padding-top: 0.5em;
}

.event-result {
    margin-bottom: 0.5em;
}
